In [8]:
import pandas as pd

patient_df = pd.read_csv('data/patient.csv')
'''
 BMI (Body Mass Index)' is also widely used as an indicator of obesity. 
To calculate BMI, divide your weight (kg) by the square of your height (m). 
For example, a person who is 180cm tall and weighs 70kg has a BMI of 21.6, 
which is 70 divided by the square of 1.8.

 BMI (tana massasi indeksi)" ham semirish ko'rsatkichi sifatida keng qo'llaniladi. 
BMI hisoblash uchun vazningizni (kg) bo'yingizning kvadratiga (m) bo'ling. 
Misol uchun, bo'yi 180 sm va vazni 70 kg bo'lgan odamning BMI ko'rsatkichi 21,6 ni tashkil qiladi, 
bu 70 ni 1,8 kvadratga bo'lishdir.
'''

'\n BMI (Body Mass Index)\' is also widely used as an indicator of obesity. \nTo calculate BMI, divide your weight (kg) by the square of your height (m). \nFor example, a person who is 180cm tall and weighs 70kg has a BMI of 21.6, \nwhich is 70 divided by the square of 1.8.\n\n BMI (tana massasi indeksi)" ham semirish ko\'rsatkichi sifatida keng qo\'llaniladi. \nBMI hisoblash uchun vazningizni (kg) bo\'yingizning kvadratiga (m) bo\'ling. \nMisol uchun, bo\'yi 180 sm va vazni 70 kg bo\'lgan odamning BMI ko\'rsatkichi 21,6 ni tashkil qiladi, \nbu 70 ni 1,8 kvadratga bo\'lishdir.\n'

In [4]:
patient_df['bmi'] = round(patient_df['weight'] / patient_df['height']**2, 1)

patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,bmi
0,50,Male,385,140,1.75,78.0,41,37,Y,25.5
1,37,Female,67,214,1.63,65.8,42,34,N,24.8
2,43,Female,100,160,1.63,63.5,40,37,N,23.9
3,32,Female,90,176,1.60,114.3,58,45,N,44.6
4,20,Male,71,164,1.83,65.8,36,29,N,19.6
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,26.5
344,66,Male,174,188,1.73,95.3,48,45,N,31.8
345,31,Female,69,183,1.68,86.2,47,41,N,30.5
346,44,Male,84,202,1.73,71.2,37,33,N,23.8
347,40,Female,85,169,1.65,81.6,44,40,N,30.0