In [2]:
import pandas as pd

patient_df = pd.read_csv('data/patient.csv')

patient_df['weight'] = (patient_df['weight'] - patient_df['weight'].min()) / \
                        (patient_df['weight'].max() - patient_df['weight'].min())
patient_df

     age     sex  glucose  cholesterol  height    weight  hip  waist diabetes
0     50    Male      385          140    1.75  0.322927   41     37        Y
1     37  Female       67          214    1.63  0.203902   42     34        N
2     43  Female      100          160    1.63  0.181463   40     37        N
3     32  Female       90          176    1.60  0.677073   58     45        N
4     20    Male       71          164    1.83  0.203902   36     29        N
..   ...     ...      ...          ...     ...       ...  ...    ...      ...
343   40    Male       87          218    1.85  0.446829   41     38        N
344   66    Male      174          188    1.73  0.491707   48     45        N
345   31  Female       69          183    1.68  0.402927   47     41        N
346   44    Male       84          202    1.73  0.256585   37     33        N
347   40  Female       85          169    1.65  0.358049   44     40        N

[348 rows x 9 columns]